<section class="banner">

  <app-search (cityChange)="onCityChange($event)" class="search"></app-search>

  <app-current class="current" [condition]="current.condition" [conditionIcon]="current.conditionIcon" [temp]="current.temp"></app-current>

  <section class="forecast">
    <ul>
      <li *ngFor="let forecastItem of forecast">
        <app-forecast [time]="forecastItem.time" [conditionIcon]="forecastItem.conditionIcon" [temp]="forecastItem.temp"></app-forecast>
      </li>
    </ul>
  </section>

</section>